node_modules/
dist/
build/
out/
*.log
.env
.env.local
.DS_Store
.vscode/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
*.local
*.sublime-workspace
*.sublime-project
/.cache/
assets/sounds/untitled folder/
**/Thumbs.db
**/desktop.ini
# macOS
.AppleDouble
._*
# Electron builds
*.app
*.dmg
*.zip